R/nvcc.R$
*.o
*.so
*.Rhistory
*.RData
*.DS_Store
*.aux
*.log
*.pdf
*.bbl
*.out
*.blg
*~
*.backup
config.log
config.status


inst/sampleKernels/dnorm.ptx

NAMESPACE

src/Makevars
R/nvcc.R
TU/*-mine

src/simpleTest.cu
src/sizeofStructs.cu

*.ptx

inst/sampleKernels/dnorm.ptx

sizeofs
checkSDKVersion
Web/index.html
