useDynLib(RCUDA)

import(methods)
import(RAutoGenRunTime)

# exportPattern(".*")

export(.gpu, .cuda)

export(copyFromDevice, copyToDevice)
export(createContext, cuGetContext)
export(cudaAlloc, cudaMalloc)

export(loadModule, getFunction)

export(getNumDevices, getDeviceProps, getDeviceProperties, cuDeviceGetAttributes)

export(cuInit)

export(cudaCSV, cudaKeyValuePair, cudaOutputMode_tValues)
export(cuMemInfo)


export(cudaProfiler, profileCUDA, cudaStartProfiler, cudaStopProfiler, readCUDAProfile)
S3method(summary, "CUDAProfileInfo")

#export(cudaErrorString)

export(cudaVersion)

exportClasses(cudaDeviceProp, cudaDevicePropPtr)


#export(CUlimitValues)

########

# Context

export(
cuCtxCreate,
cuCtxDestroy,
cuCtxPushCurrent,
cuCtxPopCurrent,
cuCtxSetCurrent,
cuCtxGetCurrent,
cuCtxGetDevice,
cuCtxSynchronize,
cuCtxSetLimit,
cuCtxGetLimit,
cuCtxGetCacheConfig,
cuCtxSetCacheConfig,
cuCtxGetSharedMemConfig,
cuCtxSetSharedMemConfig,
cuCtxGetApiVersion, # problem
cuCtxEnablePeerAccess,
cuCtxDisablePeerAccess
)

# Device

export(
cuDeviceGet,
cuDeviceGetCount,
cuDeviceGetName,
cuDeviceTotalMem,
cuDeviceGetAttribute,
cuDeviceGetByPCIBusId,
cuDeviceGetPCIBusId,
cuDeviceCanAccessPeer,
cudaDeviceReset,
cudaDeviceSynchronize,
cudaDeviceSetLimit,
cudaDeviceGetLimit,
cudaDeviceGetCacheConfig,
cudaDeviceSetCacheConfig,
cudaDeviceGetSharedMemConfig,
cudaDeviceSetSharedMemConfig,
cudaDeviceGetByPCIBusId,
cudaDeviceGetPCIBusId,
cudaDeviceGetAttribute,
cudaDeviceCanAccessPeer,
cudaDeviceEnablePeerAccess,
cudaDeviceDisablePeerAccess
)


# Module
export(
cuModuleLoad,
cuModuleLoadData,
cuModuleLoadDataEx,
cuModuleLoadFatBinary,
cuModuleUnload,
cuModuleGetFunction,
cuModuleGetGlobal,
cuModuleGetTexRef,
cuModuleGetSurfRef
)

# Func
export(
cuFuncGetAttribute,
cuFuncSetCacheConfig,
cuFuncSetSharedMemConfig,
cuFuncSetBlockShape,
cuFuncSetSharedSize
)

# Event
export(
cuEventCreate,
cuEventRecord,
cuEventQuery,
cuEventSynchronize,
cuEventDestroy,
cuEventElapsedTime
)



# Other
export(
cuModuleLoadDataEx,
cuArrayCreate,
cuArrayGetDescriptor,
cuArrayDestroy,
cuArray3DCreate,
cuArray3DGetDescriptor,
cuPointerGetAttribute,
cuGraphicsUnregisterResource,
cuGraphicsSubResourceGetMappedArray,
cuGraphicsResourceGetMappedPointer,
cuGraphicsResourceSetMapFlags,
cuGraphicsMapResources,
cuGraphicsUnmapResources,
cudaPeekAtLastError,
cudaChooseDevice,
cudaGetDevice,
cudaSetValidDevices,
cudaSetDeviceFlags,
cudaStreamCreate,
cudaStreamCreateWithFlags,
cudaStreamDestroy,
cudaStreamWaitEvent,
cudaStreamAddCallback,
cudaStreamSynchronize,
cudaStreamQuery,
cudaEventCreate,
cudaEventCreateWithFlags,
cudaEventRecord,
cudaEventQuery,
cudaEventSynchronize,
cudaEventDestroy,
cudaEventElapsedTime,
cudaFuncSetCacheConfig,
cudaFuncSetSharedMemConfig,
cudaLaunch,
cudaFuncGetAttributes,
cudaSetDoubleForDevice,
cudaSetDoubleForHost,
cudaMallocHost,
cudaMallocPitch,
cudaMallocArray,
cudaFreeHost,
cudaFreeArray,
cudaHostAlloc,
cudaHostRegister,
cudaHostUnregister,
cudaHostGetDevicePointer,
cudaHostGetFlags,
cudaMalloc3D,
cudaMalloc3DArray,
cudaArrayGetInfo,
cudaGetSymbolAddress,
cudaGetSymbolSize,
cudaPointerGetAttributes,
cudaGraphicsUnregisterResource,
cudaGraphicsResourceSetMapFlags,
cudaGraphicsMapResources,
cudaGraphicsUnmapResources,
cudaGraphicsResourceGetMappedPointer,
cudaGraphicsSubResourceGetMappedArray,
cudaGetChannelDesc,
cudaCreateChannelDesc
)




export(CU_CTX_SCHED_AUTO, CU_CTX_SCHED_SPIN, CU_CTX_SCHED_YIELD, CU_CTX_SCHED_BLOCKING_SYNC, CU_CTX_BLOCKING_SYNC, CU_CTX_SCHED_MASK, CU_CTX_MAP_HOST, CU_CTX_LMEM_RESIZE_TO_MAX, CU_CTX_FLAGS_MASK)

export(cuFuncGetAttributes)

